from __future__ import annotations
{gen.imports}import edgedb


{gen.aliases}{gen.definitions}async def {stem}(
    client: edgedb.AsyncIOClient,
    *args,
    **kwargs,
) -> {out_type}:
    return await client.query(
        """\
        {query}\
        """,
        *args,
        **kwargs,
    )
