from __future__ import annotations
{gen.imports}


{gen.aliases}{gen.definitions}async def {stem}(
    client: edgedb.AsyncIOClient,
{in_type_args}){out_type}:
    return await client.query(
        """\
        {query}\
        """,
{in_type_call}    )
