from __future__ import annotations
{gen.imports}


{gen.aliases}{gen.definitions}def {stem}(
    client: edgedb.Client,
{in_type_args}){out_type}:
    return client.query(
        """\
        {query}\
        """,
{in_type_call}    )
