from __future__ import annotations
{gen.imports}


{gen.aliases}{gen.definitions}def {stem}(
    client: edgedb.Client,
    *args,
    **kwargs,
) -> {out_type}:
    return client.query(
        """\
        {query}\
        """,
        *args,
        **kwargs,
    )
